*{
  padding: 0;
  margin: 0;

  /* Descomentar la siguiente expresión para ver los borders: */
  /* border: 1px red solid;*/

  box-sizing: border-box;
} /* Valores default para la pagina. Se sobreescriben después si es necesario*/

body{
  font-family: "Roboto Slab";
  font-size: 1em;
  background: #EEF0F1; /* Color gris de fondo */
} /* Más valores por default*/

@media (min-width: 800px) {
  #mainBanner{
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .transparentBox{
    margin-top: 2em;
  }
}
#mainBanner{
  background-color: #283747;
  /* TODO Temporalmente hasta tener una imagen buena*/
  padding: 4em 2em;
}
.transparentBox{
  background-color: rgba(255,255,255,0.7); /* Color con Transparencia no heredable */
  border-radius: 0.7em;
  padding: 1em;
  flex-basis: 25%;
  overflow-wrap: break-word; /* Para que el texto se pueda romper cuando la pantalla es muy pequeña */

}
.transparentBox h1{
  font-family: "Roboto Slab";
  font-size: 2.5em;
  text-align: center;
  padding: 0.3em;
}
.transparentBox h2{
  font-family: "Nunito";
  color: #55828B;
  font-size: 2em;
  text-align: center;
  padding: 0 0.3em 0.6em 0.3em;
}
.transparentBox p{
  font-family: "Nunito";
  font-size: 1em;
  padding: 0px 2em;
  text-align: justify;
}
.transparentBox .buttonPlacer{
  text-align: center;
}
.transparentBox .button{
  border: none;
  border-radius: 0.7em;

  background-color: #55828B;

  padding: 0.5em;
  margin: 1em 0;
  width: 50%;

  font-weight: 600;
  color: #F9FAFA;
}
.transparentBox .button:hover{
  background-color: #06D6A0;
}

#mainFooter{
  padding-top: 200px; /* TODO Es temporal. Para tener espacio extra al final de la pagina*/
  background-color: red;
}
