
#navigation-bar{
    z-index: 1;
    position: fixed;
    background-color: #343a40;
    box-shadow: 0 0 10px 0;
}
nav a{
    font-size: 20px !important;
}
.logo-text{
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 18px !important;
}
section{
    position: relative;
    top: 6em;
    height: 55em;
}
.main-banner{
    height:55em;
    background-position: right;
    background-image: url("../images/area51-entrance5.jpg");
    background-repeat: no-repeat;
    background-color: green;

    justify-content: space-around;
}
.transparent-box{
    font-family: 'Maven Pro', sans-serif;
    border-radius: 10px;
    position: relative;
    top: 10em;
    max-width: 30em;
    margin: auto;
    background-color: rgba(255,255,255,0.6);
}
.transparent-box h1{
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    color: rgb(218, 35, 35);
    padding: 0.5em 0.5em 0 0.5em;
    font-size: 2.5em;
}
.transparent-box h2{
    text-align: center;
    font-weight: bolder;
}
.transparent-box h1 span{
  color:black;
}
.transparent-box p{
    text-align: justify;
    padding: 0.2em 0.7em 0 0.7em;
    font-size: 24px;
}
.transparent-box a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(218, 35, 35);
    height: 1.8em;
    width: 7em;
    display: inline-block;
}
.transparent-box a:hover{
    text-decoration: none;
    color: rgb(218, 35, 35);
    background-color: white;
}
.what-section{
    background-color: #343a40;
}
.what-sidesection{
}



